<div class="container-fluid">
  <home></home>
  <div class="row">
    <p-growl [life]='3000'></p-growl>
    <div class="col-sm-2" style="margin-left: -15px">
      <button class="btn btn-primary btn-block" (click)="showSelector()">Add Work Order</button>
    </div>
    <div class="col-sm-10">
      <form class="form-inline">
        <div class="form-group">
          <label for="filterBy">Filter By</label>
          <select id="filterBy" class="form-control" name="filterBy" [(ngModel)]="selectedFilter" (change)="changeFilter()">
            <option [ngValue]="0">--No Filter--</option>
            <option [ngValue]="1">Work Order</option>
            <option [ngValue]="2">Employee</option>
            <option [ngValue]="3">Assembly</option>
            <option [ngValue]="4">Machine</option> 
          </select>
          <select *ngIf="selectedFilter != '0'" id="filterValue" class="form-control" name="filterValue" [(ngModel)]="selectedFilterValue"
            (change)="changeFilterValue()">
            <option *ngFor="let filterRec of filterRecords" [ngValue]="filterRec.id">{{filterRec.itemValue}}</option>
          </select>
         
        </div>
        <div class="form-group">
        <button class="btn btn-success btn-block" (click)="applyFilter()" *ngIf="selectedFilter != '0'">Apply</button>
      </div>
      </form>
    </div>

  </div>
  <div class="row" style="margin-top: 10px;">
    <p-schedule [height]=500 [events]="woEvents" [header]="header" [eventLimit]="4" [editable]="true" [slotEventOverlap]="false"
      (onEventClick)="handleEventClick($event)" [slotDuration]="slot" (onViewRender)="dateRangeChanged($event)" (onEventResize)="changeEventDuration($event)"
      (onEventDrop)="changeEventDuration($event)"> </p-schedule>
  </div>
  <p-dialog header="Title" [(visible)]="showWOSelector" [width]="800" [modal]="true" [showHeader]="false" header="Select Work Order">
    <workorder-selector [InitializeObject]="initializeFlag" (onCancel)="hideWOSelector()" (onSelect)="selectWO($event)"></workorder-selector>
  </p-dialog>
</div>
