<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }">
</ngx-loading> -->
<div class="container-fluid">
  <home></home>

  <div class="row"> 
      <p-growl [life] = '3000' ></p-growl>
      <div class="col-md-2">
        </div>
    <div class="col-md-8">
      <!-- Category panel -->
      <div class='panel panel-primary'>
        <div class='panel-heading' style="height: 40px">
          Machine Categories
        </div>
        <div class='panel-body'>

          <form class="form-inline" role="form">
            <div class="form-group">
              <label for="machineCategory">Category</label> 
              <input id="machineCategory" type="text" class="form-control" name="category" [(ngModel)]='categoryName' />

              <button class="btn btn-primary" (click)="addOrUpdateCategory()">Add</button>
              <button class="btn btn-default" (click)="clearCategoryPanel()">Clear</button>
            </div>
          </form>
          <br>
          <div class='table-responsive'>
            <table class='table table-hover'>
              <tbody>
                <tr>
                  <td>
                    <input type="text" name="searchCategory" class="form-control" placeholder="Search" [ngModel]='categoryListFilter' (ngModelChange)="filterCategoryRecords($event)">
                  </td>
                </tr>
                <tr *ngFor="let category of categoryPagedItems">
                  <td class="col-md-11" (click) = "setSelectedCategory(category)" >  <!-- (click)="getModels(category)"> -->
                    {{category.categoryName}}
                  </td>
                  <td>
                    <button class="btn btn-danger" (click)="deleteCategory(category)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-footer clearfix list-footer">
          <ul *ngIf="categoryPager.pages && categoryPager.pages.length" class="pagination">
            <li [ngClass]="{disabled:categoryPager.currentPage === 1}">
              <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:categoryPager.currentPage === 1}">
              <a (click)="setPage(categoryPager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of categoryPager.pages" [ngClass]="{active:categoryPager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:categoryPager.currentPage === categoryPager.totalPages}">
              <a (click)="setPage(categoryPager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:categoryPager.currentPage === categoryPager.totalPages}">
              <a (click)="setPage(categoryPager.totalPages)">Last</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-6">
       Model panel
      <div class='panel panel-primary'>
        <div class='panel-heading' style="height: 40px">
          Models
        </div>
        <div class='panel-body'>
          <form class="form-inline">
            <label for="model">Model</label>
            <input id="model" type="text" class="form-control" name="modelName" [(ngModel)]='modelName' />
            <button class="btn btn-primary" (click)="addOrUpdateModel()">Add</button>
            <button class="btn btn-default" (click)="clearModelPanel()">Clear</button>
          </form>
          <br>
          <div class='table-responsive'>
            <table class='table table-hover'>
              <tbody>
                <tr>
                  <td>
                    <input type="text" name="searchModel" class="form-control" placeholder="Search" [ngModel]='modelListFilter' (ngModelChange)="filterModelRecords($event)">
                  </td>
                </tr>
                <tr *ngFor="let model of modelPagedItems">
                  <td class="col-md-11" (click)="setSelectedModel(model)">
                    {{model.modelName}}
                  </td>
                  <td>
                    <button class="btn btn-danger" (click)="deleteModel(model)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-footer clearfix list-footer">
          <ul *ngIf="modelPager.pages && modelPager.pages.length" class="pagination">
            <li [ngClass]="{disabled:modelPager.currentPage === 1}">
              <a (click)="setModelsPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:modelPager.currentPage === 1}">
              <a (click)="setModelsPage(modelPager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of modelPager.pages" [ngClass]="{active:modelPager.currentPage === page}">
              <a (click)="setModelsPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:modelPager.currentPage === modelPager.totalPages}">
              <a (click)="setModelsPage(modelPager.modelPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:modelPager.currentPage === modelPager.totalPages}">
              <a (click)="setModelsPage(modelPager.totalPages)">Last</a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="col-md-2">
      </div>
  </div>
</div>