<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }">
</ngx-loading> -->
<div class="container-fluid">
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      Select Assembly
    </div>
    <div class='panel-body'>
      <div class='row'>
        <div class='col-md-6' style="margin-left: -5px; margin-right: 5px"> 
          <select id="category" class="form-control input-sm" [(ngModel)]="selectedAssemblyCategory" (change)=" search.value=''; categoryChanged()">
            
            <option *ngFor="let category of assemblyCategories" [ngValue]="category" >{{category.categoryName}}</option>
          </select>
        </div>
        <div class='col-md-6' style="margin-left: -5px; margin-right: 5px">
          <input type="text" #search name="search" class="form-control input-sm" placeholder="Search" [ngModel]='listFilter' (ngModelChange)="filterRecords($event)">
        </div>
      </div>
      <div class='table'>
        <table class='table table-hover'>
          <thead>
            <tr>
              <th class="col-md-10" (click)="sort('assemblyName')">Assembly Name
                <span class="glyphicon sort-icon" *ngIf="key =='assemblyName'" [ngClass]="{'glyphicon-sort-by-attributes':!reverse,'glyphicon-sort-by-attributes-alt':reverse}"></span>
              </th>
              <th class="col-md-2"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let assembly of pagedItems | orderBy: key : reverse" style="height:15px;" (dblclick)="selectAssembly(assembly)">
              <td>
                {{assembly.assemblyName}}
              </td>
              <td class="hoverbutton">
                <button class="btn btn-success btn-xs" (click)="selectAssembly(assembly)" *ngIf="assembly.assemblyName != disabledAssembly">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel-footer clearfix list-footer">

      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
</div>
