<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }">
</ngx-loading> -->

<div class="container-fluid">
  <home></home>
  <div class="row">
    <p-growl [life]='3000'></p-growl>
    <div class="col-sm-4">
      <assembly-selector [DisableAssembly]="assembly.assemblyName" (ItemSelected)="addSubAssembly($event)"></assembly-selector>
    </div>
    <div class="col-md-8">
      <div class="well">
        <div class="row">
          <div class="col-sm-4">
            <button class="btn btn-success btn-block" (click)="newForm()">New</button>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-primary btn-block" [disabled]="!form.valid" (click)="saveForm()">Save</button>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-block" (click)="cancelForm()">Cancel</button>
          </div>
        </div>
        <form class="data-form" [formGroup]="form">
          <div class="form-group">
            <label for="assemblyName">Assembly Name</label>
            <input formControlName="assemblyName" id="assemblyName" type="text" class="form-control" [(ngModel)]="assembly.assemblyName"
            />
            <div *ngIf="assemblyName.touched && assemblyName.invalid" class="alert alert-danger">
              <div *ngIf="assemblyName.errors.required">Please enter Assembly Name.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="assemblyDescription">Assembly Description</label>
            <textarea formControlName="assemblyDescription" id="assemblyDescription" type="text" class="form-control" style="resize: none"
              [(ngModel)]="assembly.assemblyDescription"></textarea>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="durationInMins">Duration (in mins)</label>
                <input formControlName="durationInMins" id="durationInMins" type="text" class="form-control" [(ngModel)]="assembly.duration"
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="category">Category</label>
                <select id="category" class="form-control" formControlName="assemblyCategory" [(ngModel)]="selectedAssemblyCategory">
                  <option *ngFor="let category of assemblyCategories" [ngValue]="category">{{category.categoryName}}</option>
                </select>
                <div *ngIf="assemblyCategory.touched && assemblyCategory.invalid" class="alert alert-danger">
                  <div *ngIf="assemblyCategory.errors.required">Please enter Assembly Category.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="designations">Designations</label>
            <angular2-multiselect [data]="designationsList" [(ngModel)]="selectedDesignations" [settings]="dropdownSettings" formControlName="assemblyDesignations">
            </angular2-multiselect>
          </div>
          <div class='panel panel-primary'>
            <div class='panel-body'>
              <!-- <div class="row"> -->
              <!-- <div class="col-md-11"> -->
              <div class='table tab-pane'>
                <table class='table table-hover'>
                  <thead>
                    <tr>
                      <th class="col-md-8">Sub-Assembly</th>
                      <th class="col-md-2">Qty</th>
                      <th class="col-md-2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subAssembly of assembly.subAssemblies; let i=index">
                      <td>{{subAssembly.subAssemblyName}}</td>
                      <td>{{subAssembly.qty}}</td>
                      <td>
                        <button class="btn btn-primary btn-xs" (click)="moveUp(i)">
                          <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                        <button class="btn btn-primary btn-xs" (click)="moveDown(i)">
                          <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                        <button class="btn btn-danger btn-xs" (click)="removeSubAssembly(subAssembly)">
                          <span class="glyphicon glyphicon-minus"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <!-- <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-primary btn-block" [disabled]="!form.valid" (click)="saveForm()">Save</button>
            </div>
            <div class="col-sm-6">
              <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
              <button class="btn btn-block" (click)="cancelForm()">Cancel</button>
            </div>
          </div>
 -->
        </form>
      </div>
    </div>
  </div>
</div>
