<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown" routerLinkActive="active current">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Masters
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active current">
              <a [routerLink]="['/designations']">Designations</a>
            </li>
            <li routerLinkActive="active current">
              <a [routerLink]="['/employees']">Employees</a>
            </li>
            <li role="separator" class="divider"></li>
            <li routerLinkActive="active current">
              <a [routerLink]="['/assemblycat']">Assembly Categories</a>
            </li>
            <li routerLinkActive="active current">
              <a [routerLink]="['/assemblies']">Assemblies</a>
            </li>
            <li routerLinkActive="active current">
              <a [routerLink]="['/machinecat']">Machine Categories</a>
            </li>
            <li routerLinkActive="active current">
              <a [routerLink]="['/machines']">Machines</a>
            </li>
            <!-- <li role="separator" class="divider"></li>
            <li routerLinkActive="active current">
              <a [routerLink]="['/jobs']">Jobs</a>
            </li> -->
          </ul>
        </li>
        <li class="dropdown" routerLinkActive="active current">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Work Orders
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active current">
              <a [routerLink]="['/workorderlist']">List</a> 
            </li>
            <li routerLinkActive="active current">
              <a [routerLink]="['/woplanner']">Planner</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
