<div class="container-fluid">
  <home></home>
  <div class="row">
      <p-growl [life]='3000'></p-growl>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="well">

        <form class="data-form" [formGroup]="form">
          <div class="form-group">
            <label>Work Order Id.</label>
            <label>{{workOrder.id}}</label>
          </div>

          <div class="form-group">
            <label for="workOrderNo">Work Order No.</label>
            <input formControlName="workOrderNo" id="workOrderNo" type="text" class="form-control" [(ngModel)]="workOrder.workOrderNo" />
          </div>

          <div class="form-group">
            <label for="workOrderDate">Work Order Date</label>
            <br>
            <p-calendar class="noBorder" formControlName="workOrderDate" dateFormat="dd/mm/yy" dataType="string" [(ngModel)]="workOrder.workOrderDate"></p-calendar>
          </div>
          <div class="form-group">
            <p-checkbox class="noBorder" formControlName="buildMachine" binary="true" label="Build Machine" [(ngModel)]="buildMachine"
              (onChange)="setSelectionBox($event)"></p-checkbox>

          </div>

          <div class="form-group" [hidden]="!buildMachine">
            <label>Machine</label>
            <br>
            <p-dropdown class="noBorder" formControlName="machine" [options]="machineList" [(ngModel)]="workOrder.machine" [filter]="true"
              optionLabel="machineName" dataKey="id" placeholder="Select machine" autoDisplayFirst="false" (onChange)="onMachineChange($event)" 
              [autoWidth]="false" [style]="{'width': '250px'}"></p-dropdown>
          </div>

          <div class="form-group" [hidden]="buildMachine">
            <label>Assembly</label>
            <br>
            <p-dropdown class="noBorder" formControlName="assembly" [options]="assemblyList" [(ngModel)]="workOrder.assembly" [filter]="true"
              optionLabel="assemblyName" dataKey="id" placeholder="Select assembly" autoDisplayFirst="false" (onChange)="onAssemblyChange($event)"></p-dropdown>
          </div>

          <div class="form-group">
            <label for="quantity">Quantity</label>
            <br>
            <input type="text" pKeyFilter="int" pInputText formControlName="qty" [(ngModel)]="workOrder.qty" />
          </div>


          <div class="row">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid" (click)="saveForm()">Save</button>
            </div>
            <div class="col-sm-6">
              <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
              <button class="btn btn-block" (click)="cancelForm()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
